services:
  backend:
    container_name: just-live-backend
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - db
    environment:
      - DEBUG=${DEBUG:-1}
      - DATABASE_URL=${DATABASE_URL:-postgresql://user:password@db:5432/just_live_db}
  frontend:
    container_name: just-live-frontend
    image: node:18-alpine
    working_dir: /app
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    command: sh -c "npm install && npm start"
    depends_on:
      - backend

  db:
    container_name: just-live-db
    image: postgres:15
    environment:
      POSTGRES_DB: just_live_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data: